/* ===[ Screen ]=== */
$grid-small: 768px;
$grid-medium: 992px;
$grid-large: 1200px;

$grid-small-margin: 0;
$grid-medium-margin: 25px;
$grid-large-margin: 50px;

$grid-small-gutter: 10px;
$grid-medium-gutter: 20px;
$grid-large-gutter: 50px;

$grid-size: 12;
