/* ===[ Screen ]=== */
$grid-small: 768px;
$grid-medium: 992px;
$grid-large: 1200px;

$grid-small-margin: 0;
$grid-medium-margin: 25px;
$grid-large-margin: 50px;

$grid-small-gutter: 15px;
$grid-medium-gutter: 15px;
$grid-large-gutter: 15px;

$grid-size: 12;

/* === [Debugging] === */
$debug: false;
