.hidden {
    display: none;
    &-sm {
        display: block;
        @media(min-width: $grid-small) {
            display: none !important;
        }
    }
    &-md {
        display: block;
        @media(min-width: $grid-medium) and (max-width: $grid-large){
            display: none !important;
        }
    }
    &-lg {
        display: block;
        @media(min-width: $grid-large) {
            display: none !important;
        }
    }
}

.visible {
    display: block;
    &-sm {
        display: none;
        @media(max-width: $grid-small) {
            display: block !important;
        }
    }
    &-md {
        display: none;
        @media(min-width: $grid-small) and (max-width: $grid-medium){
            display: block !important;
        }
    }
    &-lg {
        display: none;
        @media(min-width: $grid-medium) {
            display: block !important;
        }
    }
}
